@use "./../../../../assets/styles/variables.scss";

header{
  position: relative;
  height: 80px;
  background-color: variables.$color-principal;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 500ms ease-in-out;
}

header::before{
  position: absolute;
  content: "";
  background-image: url("./../../../../assets/img/portada.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: 500ms;
  border-radius: 0 0 15px 15px;
}

header.extendido::before{
  opacity: 0.5;
}

h1{
  font-size: xx-large;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.extendido{
  height: 300px;
  background-color: unset;
}

.fade-in{
  animation: fade-out 450ms ease-in;
  animation-direction: reverse;
}

.fade-out{
  animation: fade-out 150ms ease-in;
  animation-fill-mode: forwards;
}

.fondo-imagen{

}

@keyframes fade-out {
  100%{
    opacity: 0%;
  }
}
