<div id="container">
  <div
    id="foto"
    [ngStyle]="{ 'background-image': 'url(' + producto.fotoUrl + ')' }">
  <img *ngIf="producto.esCeliaco" src="../../../../assets/icons/celiaco.png" alt="Apto celiaco">
  <img *ngIf="producto.esVegano" src="../../../../assets/icons/vegano.svg" alt="Apto vegetariano">
  </div>
  <div id="detalles">
    <h4>{{ producto.nombre }}</h4>
    <ul>
      <li *ngFor="let ingredientes of producto.ingredientes">
        {{ ingredientes }}
      </li>
    </ul>
    <p id="precio">${{ producto.precio }}</p>
  </div>
</div>
