@use "../../../../assets/styles/variables.scss";

#container {
  height: 80px;
  display: flex;
  background-color: variables.$color-principal-claro;
  border-radius: 10px;
  overflow: hidden;
}

#foto {
  height: 100%;
  flex: 2;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  gap: 5px;

  img {
    height: 20px;
    margin-bottom: 5px;
    background-color: rgb(146, 255, 142);
    border-radius: 50px;

    &:first-child {
      margin-left: 5px;
    }
  }
}

#detalles {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

h4 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: small;
}

ul {
  li {
    display: inline;
    font-size: x-small;
    &:not(:last-of-type)::after {
      content: ",";
      margin-left: -2px;
    }
  }
}

#precio {
  text-align: end;
  font-weight: bold;
}
