@use "./../../../assets/styles/variables.scss";

h2 {
  margin-top: 50px;
  font-size: xx-large;
  text-align: center;
}


#barra-busqueda {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: variables.$color-principal-claro;
  border-radius: variables.$border-radius-chico;
  margin: 20px 10%;
  padding: 5px 10px;

  input {
    width: 100%;
    background-color: unset;
    border: unset;
    font-size: large;

    &:focus {
      outline: none;
    }
  }
}

#filtro-container {
  display: flex;
  justify-content: space-evenly;
}

.apto-container {
  display: flex;
  align-items: center;
  height: 25px;
}

img {
  height: 100%;
}

#contenedor-productos{
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
